body
{
    font-family: 'Source Sans Pro', sans-serif;
    /* text-align: center; */
    /* background-color: #1b2127; */
    margin: 0;
    background: #222222;
}

.header
{
    background-color: #000000;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu
{
    height: inherit;
    margin: 0;
}

.header ol
{
    display: flex;
    height: inherit;
    list-style: none;
    margin: 0;
}

.header ol li
{
    height: inherit;
}

.header a
{
    display: flex;
    align-items: center;
    height: inherit;
    color: white;
    text-decoration: none;
    padding: 0 10px;

}

/* .menu
{
    color: white;
    margin: 0 0 0 0;
}

.menu ol
{
    margin: 0;
    list-style: none;
}

.menu a
{
    text-decoration: none;
    color: white;
} */

.container
{
    /* width: 1000px; */
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


.hero
{
    height: 300px;
    background-color: #1b1b1b;
    /* background-image: url("https://i.imgur.com/6dJaWXW.jpg"); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image
{
    padding-left: 50px;
}

strong
{
    color: #026fff;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h1
{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h2
{
    text-align: center;
    margin: 10px;
    color: #026fff;
    text-transform: uppercase;
    margin-top: 0;
    /* background: #1b1b1b; */
}

h5
{
    margin: 0;
}

/* .knowledgment
{
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    background: white;

} */
/* .Knowledge
{

} */

.Knowledge-title
{
    margin: 0;
    text-align: center;
}



ol , ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure
{
    margin: 0;
}

.flexbox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box 
{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    /* margin: 20px; */
    flex-shrink: 0;
}

.footer
{
    /* width: max-content; */
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    /* font-size: 15px; */
    /* justify-content:flex-start; */
    /* align-items: center; */
    /* vertical-align: center; */
}

.footer a
{
    text-decoration: none;
    color: white;
}

.footer img
{
    vertical-align: middle;
}

article 
{
    width: max-content;
}

.knowledgement
{
    display:flex;
    flex-wrap:wrap;
    /* background:#0c4692; */
    margin: 0;
}

.Knowledge
{
    /* display:flex;
    flex-wrap:wrap; */
    /* margin: 5px; */
    width: 50%;
    height: max-content;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    /* background: #1b1b1b; */
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

.Knowledge img
{
    width: 100%;
    padding: 5px;
    object-fit: cover;
}

.experience , .experienceCaption
{
    background: #1b1b1b;
    color: white;
}

.contact
{
    background: #1b1b1b;
}

/* Desktop First que empieces desde el MQ (MediaQuery) mas grande */

@media screen and (max-width: 1024px){
    .contact .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }
}

@media screen and (max-width: 767px){
    .header
    {
        display: block;
        height: auto;
    }

    .header ol{
        display: block;

    }

    .header ol li{
        height: 50px;
        text-align: center;
    }

    .header a{
        justify-content: center;
    }

    .header .logo{
        text-align: center;
    }

    .Knowledge{
        display: block;
    }

    .Knowledge-title{
        font-size: 1em;
    }

    .Knowledge .figCaption{
        width: auto;
        text-align: center;
    }

}

@media screen and (max-width:600px) {
    .Knowledge-title{
        font-size: 13px;
    }
}

@media screen and (max-width: 500px){
        .Knowledge-title{
            font-size: 10px;
            text-align: center;
            padding: 2px;
            height: auto;
        }
}

@media screen and (max-width: 390px){
    .Knowledge-title{
        font-size: 8px;
        text-align: center;
        padding: 2px;
        height: auto;
        
    }
    .contact .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }
    .footer .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 310px){
    .Knowledge-title{
        font-size: 6px;
        text-align: center;
        padding: 2px;
        height: auto;
    }
}